.input-item-container {
  /* border: 2px solid red; */
  background-color: white;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  border-radius: 12px;
  padding-top: 1rem;
  padding-bottom: 1rem;
} 
